h1{
  text-align: center;
  color: rgb(127, 129, 255);
  
}

ul{
  list-style-type: none;
}

#mainList{
  text-align: right;
}

body>ul:first-of-type>li {
    padding: 0.5rem;
    background: rgb(135, 173, 222);
    border: 1px solid rgba(205, 231, 255, 0.624);
}

ul li ul li {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: aquamarine;
    border: 1px solid rgb(205, 255, 253);
}

.draggable {
  cursor: grab; /* Shows open hand when hovering */
}

.draggable:active {
  cursor: grabbing; /* Shows closed hand when clicking/dragging */
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard */
}

button{
  padding: 0.2rem 0.5rem;
  background-color: rgb(0, 255, 238);
  border: 0.1rem solid black;
}